footer {
  height: 320px;
  background-color: $footer_bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 10%;
  p {
    color: white;
    @extend %footer_txt;
  }
}

@media only screen and (max-width: 992px) {
  footer {
    height: 220px;
    .isM {
      display: block!important;
    }
    .isP {
      display: none!important;
    }
  }
}
